<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cars and Classic</title>
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Sonsie+One"
      rel="stylesheet" />
    <link rel="stylesheet" href="style.css" />
  </head>

  <body>
    <header>
	    <br>
	    <img src="cartc.png" height="150" align="middle" />
    </header>

    <nav class = "nav">
        <a href="/" class="nav-link">Home</a>
        <a href="#" class="nav-link">Cars</a>
	<a href="#" class="nav-link">Contact</a>
    </nav>
    <script src="script.js"></script>

    <!--
<div class="row">
  <div class="leftcolumn">
    <div class="card">
      <h2>BMW 5 Series</h2>
      <h5>March, 2023</h5>
	    <img src="2021-BMW-5-Series-Sedan-Touring-19.jpg" width="300"/>
      <p>Some text..</p>
    </div>
    -->

     <div class="card">
  <h1>BMW 5 Series</h1>
  <img src="2021-BMW-5-Series-Sedan-Touring-19.jpg" alt="BMW" style="width:80%">
  <p class="price"><strong>€23,000</strong></p>
  <p>Some text about the car..</p>
  <p><button onclick="window.location.href='details.html';">Details</button></p>
</div>
     <div class="card">
  <h1>Mercedes</h1>
  <img src="merc.jpg" alt="BMW" style="width:80%">
  <p class="price"><strong>€30,000</strong></p>
  <p>Some text about the car..</p>
  <p><button onclick="window.location.href='details.html';">Details</button></p>
</div>
    <footer class="footer">
      <p>© Copyright 2023 Mark Naughton. All rights reversed.</p>
    </footer>
  </body>
</html>

